Group3/wwwroot/app/views/blocksPayment/paymentHistory.pug
section.history
    .learning-header
        .titleword  Poppin' 
        .navbar
            .icons
                .icons-icon#revise(data-switcher data-tab="1")  
                    img(src="./images/looparrow.png", alt="")
                    span Revise
                .icons-icon#learnword(data-switcher data-tab="2")
                    img(src="./images/stackofbooks.png", alt="")
                    span Learn new words
                .icons-icon#notebook(data-switcher data-tab="3")
                    img(src="./images/notebook.png", alt="")
                    span Notebook
        .settings
            .icons 
                .icons-user
                    img(src="./images/usericon.png", alt="" height = 80 width = 80)
                .icons-settingbar 
                    img(src="./images/settingbar.png", alt="" height = 60 width = 60)
    .intro
        h1.intro Premium List
    .paymentHistory
        table
            tr
                th.col No
                th.col Premium Name 
                th.col Date 
                th.col Price
                th.col Status
            tr
                td 01
                td Monthly Premium
                td 02/15/2022
                td 4.99$
                td Success
            tr
                td 01
                td Monthly Premium
                td 02/15/2022
                td 4.99$
                td Success
            tr
                td 01
                td Monthly Premium
                td 02/15/2022
                td 4.99$
                td Success
            tr
                td 01
                td Monthly Premium
                td 02/15/2022
                td 4.99$
                td Success
    .history-button 
        button.button-back(type="back" alt="") Back
        button.htr(type="submit" alt="") Confirm
        

        

Group3/wwwroot/public/paymentHistory.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Payment History</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/fontawesome.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body class="Payment History">
    <div class="wrapper"> 
      <section class="history">
        <div class="learning-header">
          <div class="titleword"> Poppin' </div>
          <div class="navbar">
            <div class="icons">
              <div class="icons-icon" id="revise" data-switcher data-tab="1"> <img src="./images/looparrow.png" alt=""><span>Revise</span></div>
              <div class="icons-icon" id="learnword" data-switcher data-tab="2"><img src="./images/stackofbooks.png" alt=""><span>Learn new words</span></div>
              <div class="icons-icon" id="notebook" data-switcher data-tab="3"><img src="./images/notebook.png" alt=""><span>Notebook</span></div>
            </div>
          </div>
          <div class="settings">
            <div class="icons"> 
              <div class="icons-user"><img src="./images/usericon.png" alt="" height="80" width="80"></div>
              <div class="icons-settingbar"> <img src="./images/settingbar.png" alt="" height="60" width="60"></div>
            </div>
          </div>
        </div>
        <div class="intro">
          <h1 class="intro">Premium List</h1>
        </div>
        <div class="paymentHistory">
          <table>
            <tr>
              <th class="col">No</th>
              <th class="col">Premium Name </th>
              <th class="col">Date </th>
              <th class="col">Price</th>
              <th class="col">Status</th>
            </tr>
            <tr>
              <td>01</td>
              <td>Monthly Premium</td>
              <td>02/15/2022</td>
              <td>4.99$</td>
              <td>Success</td>
            </tr>
            <tr>
              <td>01</td>
              <td>Monthly Premium</td>
              <td>02/15/2022</td>
              <td>4.99$</td>
              <td>Success</td>
            </tr>
            <tr>
              <td>01</td>
              <td>Monthly Premium</td>
              <td>02/15/2022</td>
              <td>4.99$</td>
              <td>Success</td>
            </tr>
            <tr>
              <td>01</td>
              <td>Monthly Premium</td>
              <td>02/15/2022</td>
              <td>4.99$</td>
              <td>Success</td>
            </tr>
          </table>
        </div>
        <div class="history-button"> 
          <button class="button-back" type="back" alt="">Back</button>
          <button class="htr" type="submit" alt="">Confirm</button>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="scripts/admin.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/teacher.js"></script>
    <script src="scripts/learning.js"></script>
    <script src="scripts/wordlearning.js"></script>
    <script src="scripts/ajax.js"></script>
    <script src="scripts/clock.js"></script>
    <script src="scripts/exam.js"></script>
    <script src="scripts/review.js"></script>
    <!--script(src="scripts/chart.js")-->
  </body>
</html>
