Group3/wwwroot/app/views/blocksPayment/payment.pug
section.payment
    .learning-header
        .titleword  Poppin' 
        .navbar
            .icons
                .icons-icon#revise(data-switcher data-tab="1")  
                    img(src="./images/looparrow.png", alt="")
                    span Revise
                .icons-icon#learnword(data-switcher data-tab="2")
                    img(src="./images/stackofbooks.png", alt="")
                    span Learn new words
                .icons-icon#notebook(data-switcher data-tab="3")
                    img(src="./images/notebook.png", alt="")
                    span Notebook
        .settings
            .icons 
                .icons-user
                    img(src="./images/usericon.png", alt="" height = 80 width = 80)
                .icons-settingbar 
                    img(src="./images/settingbar.png", alt="" height = 60 width = 60)
    .icon-method
        img(srcset="./images/master.png 2x").method-master
        img(srcset="./images/momo.png 2x").method-momo
        img(srcset="./images/bank.png 2x").method-banking
    .payment-title
        lable(for="title-first" id="title-first") Poppins'
        lable(for="title-second" id="title-second") Premium
    .payment-premium
        lable(for="basic" id="basic") 1 month/4.99$ 
        lable(for="premium" id="premium") 6 month/19.99$ 
        lable(for="sale-premuim" id="sale-premium") 12 month/35.99$
    .payment-main
        form(action="#" id="pay")
            select(name="method" id="subscript")
                option(value="defaultselect") Please select a subcription
                option(value="monthly") Monthly (1 month/4.99$)
                option(value="basic") Basic (6 months/19.99$)
                option(value="extra") Extra Premium (12 months/35.99$)
            select(name="method" id="method")
                option(value="default") Please select a payment method
                option(value="master") MasterCard 
                option(value="momo") MoMo
                option(value="banking") Internet Banking
            label(for="card-number" id="card") Card Number
            input(type="text" id="card-number")
            label(for="cvv" id="cv") CVV
            input(type="text" id="cvv")
            label(for="valid-card" id="m-y") Valid Until
            select(name="month" id="month")
                option(value="default-month") Month
                option(value="jan") 01  
                option(value="feb") 02  
                option(value="mar") 03  
                option(value="apr") 04  
                option(value="may") 05  
                option(value="jun") 06  
                option(value="jul") 07  
                option(value="aug") 08  
                option(value="sep") 09  
                option(value="oct") 10  
                option(value="nov") 11  
                option(value="dec") 12  
            select(name="year" id="year")
                option(value="default-year") Year
                option(value="2022") 2022 
                option(value="2023") 2023 
                option(value="2024") 2024 
                option(value="2025") 2025 
                option(value="2026") 2026 
                option(value="2027") 2027 
                option(value="2028") 2028 
                option(value="2029") 2029 
                option(value="2030") 2030 
    .payment-button
        button.button-payment-back(type="submit" alt="") Back
        button.button-pay(type="submit" alt="") Place order
                

Group3/wwwroot/public/payment.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Payment</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/fontawesome.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body class="Payment">
    <div class="wrapper"> 
      <section class="payment">
        <div class="learning-header">
          <div class="titleword"> Poppin' </div>
          <div class="navbar">
            <div class="icons">
              <div class="icons-icon" id="revise" data-switcher data-tab="1"> <img src="./images/looparrow.png" alt=""><span>Revise</span></div>
              <div class="icons-icon" id="learnword" data-switcher data-tab="2"><img src="./images/stackofbooks.png" alt=""><span>Learn new words</span></div>
              <div class="icons-icon" id="notebook" data-switcher data-tab="3"><img src="./images/notebook.png" alt=""><span>Notebook</span></div>
            </div>
          </div>
          <div class="settings">
            <div class="icons"> 
              <div class="icons-user"><img src="./images/usericon.png" alt="" height="80" width="80"></div>
              <div class="icons-settingbar"> <img src="./images/settingbar.png" alt="" height="60" width="60"></div>
            </div>
          </div>
        </div>
        <div class="icon-method"><img class="method-master" srcset="./images/master.png 2x"><img class="method-momo" srcset="./images/momo.png 2x"><img class="method-banking" srcset="./images/bank.png 2x"></div>
        <div class="payment-title">
          <lable for="title-first" id="title-first">Poppins'</lable>
          <lable for="title-second" id="title-second">Premium</lable>
        </div>
        <div class="payment-premium">
          <lable for="basic" id="basic">1 month/4.99$ </lable>
          <lable for="premium" id="premium">6 month/19.99$ </lable>
          <lable for="sale-premuim" id="sale-premium">12 month/35.99$</lable>
        </div>
        <div class="payment-main">
          <form action="#" id="pay">
            <select name="method" id="subscript">
              <option value="defaultselect">Please select a subcription</option>
              <option value="monthly">Monthly (1 month/4.99$)</option>
              <option value="basic">Basic (6 months/19.99$)</option>
              <option value="extra">Extra Premium (12 months/35.99$)</option>
            </select>
            <select name="method" id="method">
              <option value="default">Please select a payment method</option>
              <option value="master">MasterCard </option>
              <option value="momo">MoMo</option>
              <option value="banking">Internet Banking</option>
            </select>
            <label for="card-number" id="card">Card Number</label>
            <input type="text" id="card-number">
            <label for="cvv" id="cv">CVV</label>
            <input type="text" id="cvv">
            <label for="valid-card" id="m-y">Valid Until</label>
            <select name="month" id="month">
              <option value="default-month">Month</option>
              <option value="jan">01  </option>
              <option value="feb">02  </option>
              <option value="mar">03  </option>
              <option value="apr">04  </option>
              <option value="may">05  </option>
              <option value="jun">06  </option>
              <option value="jul">07  </option>
              <option value="aug">08  </option>
              <option value="sep">09  </option>
              <option value="oct">10  </option>
              <option value="nov">11  </option>
              <option value="dec">12  </option>
            </select>
            <select name="year" id="year">
              <option value="default-year">Year</option>
              <option value="2022">2022 </option>
              <option value="2023">2023 </option>
              <option value="2024">2024 </option>
              <option value="2025">2025 </option>
              <option value="2026">2026 </option>
              <option value="2027">2027 </option>
              <option value="2028">2028 </option>
              <option value="2029">2029 </option>
              <option value="2030">2030 </option>
            </select>
          </form>
        </div>
        <div class="payment-button">
          <button class="button-payment-back" type="submit" alt="">Back</button>
          <button class="button-pay" type="submit" alt="">Place order</button>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="scripts/admin.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/teacher.js"></script>
    <script src="scripts/learning.js"></script>
    <script src="scripts/wordlearning.js"></script>
    <script src="scripts/ajax.js"></script>
    <script src="scripts/clock.js"></script>
    <script src="scripts/exam.js"></script>
    <script src="scripts/review.js"></script>
    <!--script(src="scripts/chart.js")-->
  </body>
</html>
