Group3/wwwroot/public/examResult.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Exam Result</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/fontawesome.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body class="Exam Result">
    <div class="wrapper"> 
      <section class="exam-result">
        <div class="learning-header">
          <div class="titleword"> Poppin' </div>
          <div class="navbar">
            <div class="icons">
              <div class="icons-icon" id="revise" data-switcher data-tab="1"> <img src="./images/looparrow.png" alt=""><span>Revise</span></div>
              <div class="icons-icon" id="learnword" data-switcher data-tab="2"><img src="./images/stackofbooks.png" alt=""><span>Learn new words</span></div>
              <div class="icons-icon" id="notebook" data-switcher data-tab="3"><img src="./images/notebook.png" alt=""><span>Notebook</span></div>
            </div>
          </div>
          <div class="settings">
            <div class="icons"> 
              <div class="icons-user"><img src="./images/usericon.png" alt="" height="80" width="80"></div>
              <div class="icons-settingbar"> <img src="./images/settingbar.png" alt="" height="60" width="60"></div>
            </div>
          </div>
        </div>
        <div class="name"> 
          <h1 class="name">Welcome!!!, <a href="userinfo.html">user Exam Result </a></h1>
        </div>
        <div class="table-result">
          <table>
            <tr>
              <th> 
                <h2 class="column">Test Name</h2>
              </th>
              <th> 
                <h2 class="column">Number of total questions </h2>
              </th>
              <th> 
                <h2 class="column">Number of correct answers</h2>
              </th>
              <th> 
                <h2 class="column">Percent correct answers </h2>
              </th>
              <th> 
                <h2 class="column">Mark</h2>
              </th>
            </tr>
            <tr>
              <td> 
                <h2 class="cont">Final Exam</h2>
              </td>
              <td>
                <h2 class="cont">30</h2>
              </td>
              <td> 
                <h2 class="cont">30</h2>
              </td>
              <td> 
                <h2 class="cont">100</h2>
              </td>
              <td> 
                <h2 class="cont">10.0</h2>
              </td>
            </tr>
            <tr>
              <td> 
                <h2 class="cont">Final Exam</h2>
              </td>
              <td>
                <h2 class="cont">30</h2>
              </td>
              <td> 
                <h2 class="cont">30</h2>
              </td>
              <td> 
                <h2 class="cont">100</h2>
              </td>
              <td> 
                <h2 class="cont">10.0</h2>
              </td>
            </tr>
            <tr>
              <td> 
                <h2 class="cont">Final Exam</h2>
              </td>
              <td>
                <h2 class="cont">30</h2>
              </td>
              <td> 
                <h2 class="cont">30</h2>
              </td>
              <td> 
                <h2 class="cont">100</h2>
              </td>
              <td> 
                <h2 class="cont">10.0</h2>
              </td>
            </tr>
            <tr>
              <td> 
                <h2 class="cont">Final Exam</h2>
              </td>
              <td>
                <h2 class="cont">30</h2>
              </td>
              <td> 
                <h2 class="cont">30</h2>
              </td>
              <td> 
                <h2 class="cont">100</h2>
              </td>
              <td> 
                <h2 class="cont">10.0</h2>
              </td>
            </tr>
            <tr>
              <td> 
                <h2 class="cont">Final Exam</h2>
              </td>
              <td>
                <h2 class="cont">30</h2>
              </td>
              <td> 
                <h2 class="cont">30</h2>
              </td>
              <td> 
                <h2 class="cont">100</h2>
              </td>
              <td> 
                <h2 class="cont">10.0</h2>
              </td>
            </tr>
            <tr>
              <td> 
                <h2 class="cont">Final Exam</h2>
              </td>
              <td>
                <h2 class="cont">30</h2>
              </td>
              <td> 
                <h2 class="cont">30</h2>
              </td>
              <td> 
                <h2 class="cont">100</h2>
              </td>
              <td> 
                <h2 class="cont">10.0</h2>
              </td>
            </tr>
          </table>
        </div>
        <div class="button-result"> 
          <button class="button-learn" type="submit" alt=""> Continue Leaning</button>
          <button class="button-review" type="submit" alt="">Review </button>
          <button class="button-exit" type="submit" alt="">Exit</button>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="scripts/admin.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/teacher.js"></script>
    <script src="scripts/learning.js"></script>
    <script src="scripts/wordlearning.js"></script>
    <script src="scripts/ajax.js"></script>
    <script src="scripts/clock.js"></script>
    <script src="scripts/exam.js"></script>
    <script src="scripts/review.js"></script>
    <!--script(src="scripts/chart.js")-->
  </body>
</html>

Group3/wwwroot/app/views/blocksExam/examResult.pug
section.exam-result
    .learning-header
        .titleword  Poppin' 
        .navbar
            .icons
                .icons-icon#revise(data-switcher data-tab="1")  
                    img(src="./images/looparrow.png", alt="")
                    span Revise
                .icons-icon#learnword(data-switcher data-tab="2")
                    img(src="./images/stackofbooks.png", alt="")
                    span Learn new words
                .icons-icon#notebook(data-switcher data-tab="3")
                    img(src="./images/notebook.png", alt="")
                    span Notebook
        .settings
            .icons 
                .icons-user
                    img(src="./images/usericon.png", alt="" height = 80 width = 80)
                .icons-settingbar 
                    img(src="./images/settingbar.png", alt="" height = 60 width = 60)
    .name 
        h1.name Welcome!!!, 
            a(href="userinfo.html") user Exam Result 
    .table-result
        table
            tr
                th 
                    h2.column Test Name
                th 
                    h2.column Number of total questions 
                th 
                    h2.column Number of correct answers
                th 
                    h2.column Percent correct answers 
                th 
                    h2.column Mark
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            
    .button-result 
        button.button-learn(type="submit" alt="")  Continue Leaning
        button.button-review(type="submit"  alt="") Review 
        button.button-exit(type="submit" alt="") Exit
