Group3/wwwroot/public/examProcessing.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Exam-process</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/fontawesome.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body class="Exam-process">
    <div class="wrapper"> 
      <section class="exam-process">
        <div class="icon-exam-process-header">
          <h1 class="header-title-first">Poppins'</h1>
          <h1 class="header-main-title">Test Exam 01</h1>
          <h2 class="header-title-second">Exam</h2>
        </div>
        <div class="clock">
          <div id="time">
            <div><span id="m"></span>
              <label>:</label><span id="s"></span>
            </div>
          </div>
        </div>
        <div class="number-question">
          <h3 class="number-question-exam">Question 12/30</h3>
        </div>
        <div class="table-question">
          <table class="list-question">
            <tr> 
              <td>
                <button class="button-question" type="submit" id="done" alt="">1 </button>
              </td>
              <td>
                <button class="button-question" type="submit" id="done" alt="">2 </button>
              </td>
              <td>
                <button class="button-question" type="submit" id="done" alt="">3 </button>
              </td>
              <td>
                <button class="button-question" type="submit" id="done" alt="">4 </button>
              </td>
              <td>
                <button class="button-question" type="submit" id="done" alt="">5</button>
              </td>
              <td>
                <button class="button-question" type="submit" id="done" alt="">6</button>
              </td>
            </tr>
            <tr>
              <td>
                <button class="button-question" type="submit" id="done" alt="">7 </button>
              </td>
              <td>
                <button class="button-question" type="submit" id="done" alt="">8 </button>
              </td>
              <td>
                <button class="button-question" type="submit" id="done" alt="">9 </button>
              </td>
              <td>
                <button class="button-question" type="submit" id="done" alt="">10</button>
              </td>
              <td>
                <button class="button-question" type="submit" id="done" alt="">11 </button>
              </td>
              <td>
                <button class="button-question" type="submit" id="doing" alt="">12 </button>
              </td>
            </tr>
            <tr>
              <td>
                <button class="button-question" type="submit" alt="">13 </button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">14 </button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">15</button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">16 </button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">17 </button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">18 </button>
              </td>
            </tr>
            <tr>
              <td>
                <button class="button-question" type="submit" alt="">19 </button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">20 </button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">21 </button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">22 </button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">23 </button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">24 </button>
              </td>
            </tr>
            <tr>
              <td>
                <button class="button-question" type="submit" alt="">25</button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">26 </button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">27</button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">28 </button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">29 </button>
              </td>
              <td>
                <button class="button-question" type="submit" alt="">30</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="table-content-question">               
          <table class="content-question">
            <tr>
              <td>
                <p class="num-question">12. The Drafting Committee was constituted on ____ under the chairmanship of Dr.B.R.Ambedkar.</p>
                <div class="option-content">
                  <input type="radio" name="option" id="option-1" value="A">
                  <label for="option-1">A. 1947 August 26</label></br>
                  <input type="radio" name="option" id="option-2" value="B">
                  <label for="option-2">B. 1947 August 27</label></br>
                  <input type="radio" name="option" id="option-3" value="C">
                  <label for="option-3">C. 1947 August 28</label></br>
                  <input type="radio" name="option" id="option-4" value="D">
                  <label for="option-4">D. 1947 August 29</label>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="button-container">
          <div class="exam-button-left">       
            <button class="button-back" type="back" alt="">Previous </button>
            <button class="button-next" type="submit" alt="">Next</button>
          </div>
          <div class="exam-button-right">
            <button class="button-finish" type="submit" alt=""> Finish the test</button>
          </div>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="scripts/admin.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/teacher.js"></script>
    <script src="scripts/learning.js"></script>
    <script src="scripts/wordlearning.js"></script>
    <script src="scripts/ajax.js"></script>
    <script src="scripts/clock.js"></script>
    <script src="scripts/exam.js"></script>
    <script src="scripts/review.js"></script>
    <!--script(src="scripts/chart.js")-->
  </body>
</html>

Group3/wwwroot/app/views/blocksExam/examProcessing.pug
section.exam-process
    .icon-exam-process-header
        h1.header-title-first Poppins'
        h1.header-main-title Test Exam 01
        h2.header-title-second Exam
    .clock
        div(id="time")
            div
                span(id='m')
                label :
                span(id='s')
    .number-question
        h3.number-question-exam Question 12/30
    .table-question
        table.list-question
            tr 
                td
                    button.button-question(type="submit" id="done" alt="") 1 
                td
                    button.button-question(type="submit" id="done"  alt="") 2 
                td
                    button.button-question(type="submit" id="done" alt="") 3 
                td
                    button.button-question(type="submit" id="done" alt="") 4 
                td
                    button.button-question(type="submit" id="done" alt="") 5
                td
                    button.button-question(type="submit" id="done" alt="") 6
            tr
                td
                    button.button-question(type="submit" id="done"  alt="") 7 
                td
                    button.button-question(type="submit" id="done" alt="") 8 
                td
                    button.button-question(type="submit" id="done" alt="") 9 
                td
                    button.button-question(type="submit" id="done" alt="") 10
                td
                    button.button-question(type="submit" id="done" alt="") 11 
                td
                    button.button-question(type="submit" id="doing" alt="") 12 
            tr
                td
                    button.button-question(type="submit"  alt="") 13 
                td
                    button.button-question(type="submit"  alt="") 14 
                td
                    button.button-question(type="submit"  alt="") 15
                td
                    button.button-question(type="submit"  alt="") 16 
                td
                    button.button-question(type="submit"  alt="") 17 
                td
                    button.button-question(type="submit"  alt="") 18 
            tr
                td
                    button.button-question(type="submit"  alt="") 19 
                td
                    button.button-question(type="submit"  alt="") 20 
                td
                    button.button-question(type="submit"  alt="") 21 
                td
                    button.button-question(type="submit"  alt="") 22 
                td
                    button.button-question(type="submit"  alt="") 23 
                td
                    button.button-question(type="submit"  alt="") 24 
            tr
                td
                    button.button-question(type="submit"  alt="") 25
                td
                    button.button-question(type="submit"  alt="") 26 
                td
                    button.button-question(type="submit"  alt="") 27
                td
                    button.button-question(type="submit"  alt="") 28 
                td
                    button.button-question(type="submit"  alt="") 29 
                td
                    button.button-question(type="submit"  alt="") 30
    .table-content-question                
        table.content-question
            tr
                td
                    p.num-question 12. The Drafting Committee was constituted on ____ under the chairmanship of Dr.B.R.Ambedkar.
                    .option-content
                        input(type='radio', name='option', id='option-1', value='A')
                        label(for='option-1') A. 1947 August 26
                        </br>
                        input(type='radio', name='option', id='option-2', value='B')
                        label(for='option-2') B. 1947 August 27
                        </br>
                        input(type='radio', name='option', id='option-3', value='C')
                        label(for='option-3') C. 1947 August 28
                        </br>
                        input(type='radio', name='option', id='option-4', value='D')
                        label(for='option-4') D. 1947 August 29
    .button-container
        .exam-button-left        
            button.button-back(type="back" alt="") Previous 
            button.button-next(type="submit" alt="") Next
        .exam-button-right
            button.button-finish(type="submit" alt="")  Finish the test
