Group3/wwwroot/public/listExam.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ListExam</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/fontawesome.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body class="ListExam">
    <div class="wrapper"> 
      <session class="list-Exam">
        <div class="icon-exam-process-header">
          <h1 class="listExam-title">Poppins' Exam </h1>
        </div>
        <div class="content-list">
          <h1>Select a Exam</h1>
        </div>
        <div class="listExam">
          <div class="column-ListExam"><a href="">
              <div class="row-ListExam"> 
                <div class="card">
                  <h1>Basic Exam</h1>
                </div>
              </div></a><a href="">
              <div class="row-ListExam"> 
                <div class="card">
                  <h1>Basic Exam</h1>
                </div>
              </div></a><a href="">
              <div class="row-ListExam"> 
                <div class="card">
                  <h1>Basic Exam</h1>
                </div>
              </div></a><a href="">
              <div class="row-ListExam"> 
                <div class="card">
                  <h1>Basic Exam</h1>
                </div>
              </div></a></div>
        </div>
      </session>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="scripts/admin.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/teacher.js"></script>
    <script src="scripts/learning.js"></script>
    <script src="scripts/wordlearning.js"></script>
    <script src="scripts/ajax.js"></script>
    <script src="scripts/clock.js"></script>
    <script src="scripts/exam.js"></script>
    <script src="scripts/review.js"></script>
    <!--script(src="scripts/chart.js")-->
  </body>
</html>

Group3/wwwroot/app/views/blocksExam/listExam.pug
session.list-Exam
    .icon-exam-process-header
        h1.listExam-title Poppins' Exam 
    .content-list
        h1 Select a Exam
    .listExam
        .column-ListExam
            a(href="")
                .row-ListExam 
                    .card
                        h1 Basic Exam
            a(href="")
                .row-ListExam 
                    .card
                        h1 Basic Exam
            a(href="")
                .row-ListExam 
                    .card
                        h1 Basic Exam
            a(href="")
                .row-ListExam 
                    .card
                        h1 Basic Exam
